version: '3.8'

services:

  mongo.db.catalog:
    image: mongo:8.0-rc
    container_name: catalog.mongo
    restart: always
    ports:
      - "27030:27017"
    volumes:
      - mongo.db.catalog.volume:/data/db
    networks:
      - identity-network

  mongo.db.discount:
    image: mongo:8.0-rc
    container_name: discount.mongo
    restart: always
    ports:
      - "27031:27017"
    volumes:
      - mongo.db.discount.volume:/data/db
    networks:
      - identity-network

  redis.db:
    image: redis:7.0-alpine
    container_name: basket.redis
    restart: always
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    ports:
      - "6379:6379"
    volumes:
      - redis.db.basket.volume:/data
    networks:
      - identity-network

  sqlserver.order:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: order.sqlserver
    user: root
    restart: always
    ports:
      - "1433:1433"
    environment:
      SA_PASSWORD: "${ORDERDB_PASSWORD}"
      ACCEPT_EULA: "Y"
    volumes:
      - sqlserver.order.volume:/var/opt/mssql
    networks:
      - identity-network

volumes:
  mongo.db.catalog.volume:
  mongo.db.discount.volume:
  redis.db.basket.volume:
  sqlserver.order.volume:

networks:
  identity-network:
    driver: bridge
